tap "oven-sh/bun"
brew "awscli"
brew "bat"
brew "cask"
brew "chezmoi"
brew "docker-compose"
brew "fastfetch"
brew "fzf"
brew "gh"
brew "git"
brew "jq"
brew "lsd"
brew "make"
brew "mas"
brew "marp-cli"
brew "mysql"
brew "node"
brew "nvm"
brew "oath-toolkit"
brew "pigz"
brew "poetry"
brew "postgresql@15"
brew "pyenv"
brew "rbenv"
brew "ripgrep"
brew "ruby"
brew "rust"
brew "starship"
brew "stow"
brew "tfenv"
brew "tmux"
brew "trash"
brew "tree"
brew "uv"
brew "vim"
brew "wtfutil"
brew "zellij"
brew "zoxide"
brew "zsh-autosuggestions"
brew "dashlane/tap/dashlane-cli"
brew "dhth/tap/omm"
brew "oven-sh/bun/bun"
cask "1password"
cask "arc"
cask "aws-vault"
cask "cursor"
cask "brave-browser"
cask "bartender"
cask "dbeaverlite"
cask "docker-desktop"
cask "firefox"
cask "firefox@developer-edition"
cask "font-droid-sans-mono-nerd-font"
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "font-iosevka-nerd-font"
cask "font-jetbrains-mono-nerd-font"
cask "font-mononoki-nerd-font"
cask "font-sauce-code-pro-nerd-font"
cask "ghostty"
cask "hammerspoon"
cask "inkscape"
cask "insomnia"
cask "iterm2"
cask "jordanbaird-ice"
cask "karabiner-elements"
cask "logi-options+"
cask "maccy"
cask "meetingbar"
cask "notion"
cask "postman"
cask "raycast"
cask "rectangle"
cask "spotify"
cask "vagrant"
cask "visual-studio-code"
cask "zoom"
cask "obsidian"
cask "claude"
cask "chatgpt"
cask "zed"
cask "qdirstat"
cask "qutebrowser"
cask "plover"
cask "warp"

{{ if eq .machine "work"}}
mas "Dashlane", id: 517914548
brew "snyk-cli"
brew "ninja"
cask "slicer"
cask "mysqlworkbench"
cask "itk-snap"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "microsoft-office"
cask "microsoft-teams"
{{ end }}

{{ if eq .machine "home" }}
cask "steam"
brew "handbrake"
{{ end }}
