[credential]
	helper = osxkeychain
{{ if eq .machine "home" }}
[include]
	path = ~/.gitconfig-personal
{{ else }}
[user]
	name = Miles Phillips
	email = miles.phillips@perspectum.com
[includeIf "gitdir:~/.personal/code/"]
	path = ~/.gitconfig-personal
{{ end }}
[core]
	editor = cursor --wait
[sequence]
	editor = cursor
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[merge]
	tool = cursor